.dashboard-container {
  height: 100%;
  padding: 150px 25px;
  background-color: var(--colorSecondaryLighten2);
}

.dashboard-container_dark_theme {
  background-color: var(--colorPrimaryDarken4);
}

.dashboard__pane-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard__pane {
  width: 48%;
  border-radius: 20px;
  overflow: hidden;
}

.dashboard__counts-total-container {
  float: right;
  margin: 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.dashboard__count {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .dashboard__pane-container {
    flex-direction: column;
  }
  .dashboard__pane {
    width: 100%;
    margin-top: 25px;
  }
}
