.dashboard-container {
  height: 100vh;
  padding: 150px 5% 0 5%;
  background-color: var(--colorPrimaryDarken4);
}

.sign-out-button {
  margin: 10px;
  float: right;
}

.dashboard__pane-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard__pane {
  width: 48%;
  border-radius: 20px;
  overflow: hidden;
}

.dashboard__counts-total-container {
  float: right;
  margin: 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.dashboard__count {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
