.App {
  text-align: center;
  background: rgb(43, 42, 42);
}

.login-register-wrapper {
  background-color: black;
  background-image: url("./assets/2.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register-wrapper a {
  color: pink;
}
.login-register-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  border: 1px solid white;
  width: 20%;
}
.login-register-wrapper .error-div {
  color: red;
}
.login-register-wrapper form input {
  margin: 2%;
}
.login-register-wrapper form .button {
  margin: 10%;
}
.login-register-wrapper form label {
  margin-top: 5%;
}
.dash-wrapper {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
