.table-stats-container {
  border: solid #536579 1px;
  border-bottom: none;
  background-color: #192635;
  text-align: center;
  height: 75px;
  margin-top: 10px;
  width: 600px;
  font-weight: normal;
}

.table-title {
  font-weight: normal;
}

.table-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 14px;
  color: #A9B2BC;
}

.status-symbol {
  margin-top: 2%;
}

.table-stat {
  display: flex;
}

.table-stat-text {
  margin-top: 2%;
}