.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.home {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.auth {
  margin: 0;
  position: absolute;
  padding: 15em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(24, 38, 53);

}
.spinner {
  margin: 0;
  position: absolute;
  padding: 15em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.float-container {
  border: 3px solid #fff;
}
.toggle-1 {
  width: 20%;
  float: left;
  margin-left: 28%;
}
.toggle-2 {
  margin-right: 30%;
}
.float-child {
  width: 42%;
  float: left;
  padding: 5px;
}  

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}