.App {
  text-align: center;
}

.auth-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 400px
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 16px)
}

.dashboard-container h1 {
  margin: 20px auto 100px auto;
}

.rux-table-th {
  overflow: hidden;
  height: 90px;
}

#table-container {
  max-height: 500px;
}

.rux-table td {
  color: rgb(255, 255, 255)
}

.contact-table-container .rux-pagination {
  color: rgb(255, 255, 255)
}

.contact-table-container .rux-pagination .MuiSelect-icon {
  color: rgb(255, 255, 255)
}

#contacts-failed {
  color: var(--colorSerious)
}
