.login-region {
    margin: auto;
    text-align: center;
    width: 50%;
}

.login-row-divider {
    margin-top: 5px;
}

.login-create-account {
    text-align: right;
}

.login-invalid {
    color: red;
}