[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
bcrypt = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-script = "*"
flask-migrate = "*"
flask-cors = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
