.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headbar {
  background-color: rgb(0, 23, 36);
  color: white;
  padding: 20px;
  text-align: center;
}

.background {
  background-color: rgb(46, 103, 153);
  color: white;
}

.login {
  width: 300px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(77, 172, 255);
  padding: 20px;
}

thead {
  font-weight: bold;
}
td {
  border: 1px solid black;
}

.clickable {
  cursor: pointer;
}